/* new1.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1606326608606-aa0b62935f2b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 3em;
    color: #fff;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-item {
    list-style: none;
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #4a90e2;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: #fff;
    background-color: #4a90e2;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #357ab7;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #4a90e2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.extra-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.extra-buttons a {
    display: block;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

.extra-buttons a:hover {
    background-color: #357ab7;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    form {
        width: 45%;
    }
}
