<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title> Automatic quections paper generating system and Blooms level showing through GUI|HOME</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/bootstrap.css')}}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('static',filename = 'css/responsive.css')}}" rel="stylesheet" />
</head>

<body>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="#">
          <div class="logo_box">
           <!-- <img src="{{url_for('static',filename = 'images/logo.jpg')}}" alt="" />-->
           <h3 style="color:rgb(160, 53, 45);"> questions paper generating </h3>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact us</a>
            </li>
           
          </ul>
        
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- slider section -->
  <section class=" slider_section">
    <div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
               
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                
                <h1 style="
                padding: 48px;
                background-color: #f5f5dc; 
                color: rgb(30, 5, 5);
                font-weight: bold;
                border-radius: 0.575rem; 
                border: 2px solid #dcdcdc; 
              ">
                Automatic questions paper generating system and Blooms level showing through:
              </h1>
              </div>
              <div class="slider_detail-text">
                <p style="color:rgb(238, 241, 10);">
                  <!--"Our mission is to revolutionize the educational assessment process by developing an innovative Automatic Question Paper Generating System. We strive to provide educators with a user-friendly platform that enables the seamless creation of diverse and personalized question papers, aligning with Bloom's Taxonomy levels. Our mission is driven by the commitment to enhance the quality of education, promote critical thinking, and streamline the assessment workflow for educators and institutions.-->
                </p>
              </div>
              <div class="slider_detail-btn">
                
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
                .
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
               
              </div>
              <div class="slider_detail-text">
                <p>
                .
                </p>
              </div>
              <div class="slider_detail-btn">
               
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
                .
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
               
              </div>
              <div class="slider_detail-text">
                <p>
                 .
                </p>
              </div>
              <div class="slider_detail-btn">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>-->
    </div>
  </section>

  <!-- end slider section -->

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="{{url_for('static',filename = 'images/welcome.jpg')}}" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="welcome_detail">
            <h3 style="color:rgb(189, 45, 45);">
              Our Team:
            </h3>
           
            <p style="color:rgb(189, 45, 45);">
              Our dynamic team is comprised of passionate individuals dedicated to revolutionizing education through the development of the Automatic Question Paper Generating System with Bloom's Level Indication. With diverse expertise in software development, educational technology, and pedagogy, we collaborate seamlessly to bring innovation to the forefront of assessment processes. Our team's shared commitment lies in empowering educators and institutions with user-friendly tools that streamline the creation of customized assessments, fostering a more engaging and effective learning environment. Through a blend of technical prowess and a deep understanding of educational principles, we work collaboratively to make a positive impact on the educational landscape.
            </p>
            <div class="welcome_detail-btn">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end welcome section -->

  


  <!-- story section -->

  <section class="layout_padding story_section">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="{{url_for('static',filename = 'images/security.jpg')}}" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="story_detail">
            <h3 style="color:rgb(189, 45, 45);">
              How It Works:
            </h3>
          
            <p style="color:rgb(189, 45, 45);">
              The Automatic Question Paper Generating System with Bloom's Level Indication operates by leveraging Flask-based GUI technology to provide educators with an intuitive platform. Users input the topic, desired difficulty level, and the number of questions needed. The system then dynamically generates diverse questions through a predefined pool and assigns Bloom's Taxonomy levels based on the specified difficulty. The generated questions are displayed alongside the corresponding Bloom's level, offering educators a quick and efficient tool to create well-rounded assessments. This streamlined process aims to enhance the quality of educational assessments, promote critical thinking, and ultimately contribute to a more effective and engaging learning experience for students.
            </p>
            <div class="story_detail-btn">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end story section -->

  
  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class=" col-md-4 info_detail">
          <div>
            <p>
              Information provided on this website is for informational purposes only. It does not constitute financial, legal, or investment advice.
            </p>
          </div>
        </div>
        <div class=" col-md-4 address_container">
          <div>
            <h3>
              Address:
            </h3>
            <div class="address_link-container">
              <a href="">
                <img src="{{url_for('static',filename = 'images/location.png')}}" alt="">
                <span>Address:JSPM.s RSCOE ENGINEERING<br>, PUNE
                </span>
              </a>
              <a href="">
                <img src="{{url_for('static',filename = 'images/phone.png')}}" alt="">
                <span> Tel: +91 7843023557
                </span>
              </a>
              <a href="#">
                <img src="{{url_for('static',filename = 'images/mail.png')}}" alt="">
                <span>
                  Email: sanershivam2011@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 news_container">
          <div>
            <div>
             
              <form action="">
               
                <div>
                 
                </div>
              </form>
            </div>
            <div class="social_container">
              <div>
                <img src="{{url_for('static',filename = 'images/fb.png')}}" alt="">
              </div>
              <div>
                <img src="{{url_for('static',filename = 'images/twitter.png')}}" alt="">
              </div>
              <div>
                <img src="{{url_for('static',filename = 'images/linkedin.png')}}" alt="">
              </div>
              <div>
                <img src="{{url_for('static',filename = 'images/youtube.png')}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2023 All Rights Reserved By
      <a href="/">quections paper generating
      </a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 20,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });
  </script>

  <script>
   
  </script>

  <script>

  </script>
  
  <!-- end google map js -->

</body>

</html>